<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.LinkmanMapper">
  <resultMap id="BaseResultMap" type="com.woniu.entity.Linkman">
    <id column="linkid" jdbcType="INTEGER" property="linkid" />
    <result column="linkname" jdbcType="VARCHAR" property="linkname" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <select id="findByUid" resultMap="BaseResultMap">
  select * from linkman where exists(select a.linkid from linkmanuser a where uid=#{uid})
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    linkid, linkname, relation, phone
  </sql>
  <select id="selectByExample" parameterType="com.woniu.entity.LinkmanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from linkman
    where linkid = #{linkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from linkman
    where linkid = #{linkid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.entity.LinkmanExample">
    delete from linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="linkid" parameterType="com.woniu.entity.Linkman">
    insert into linkman (linkid, linkname, relation, 
      phone)
    values (#{linkid,jdbcType=INTEGER}, #{linkname,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="linkid" parameterType="com.woniu.entity.Linkman">
    insert into linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="linkid != null">
        linkid,
      </if>
      <if test="linkname != null">
        linkname,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="linkid != null">
        #{linkid,jdbcType=INTEGER},
      </if>
      <if test="linkname != null">
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.entity.LinkmanExample" resultType="java.lang.Long">
    select count(*) from linkman
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update linkman
    <set>
      <if test="record.linkid != null">
        linkid = #{record.linkid,jdbcType=INTEGER},
      </if>
      <if test="record.linkname != null">
        linkname = #{record.linkname,jdbcType=VARCHAR},
      </if>
      <if test="record.relation != null">
        relation = #{record.relation,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update linkman
    set linkid = #{record.linkid,jdbcType=INTEGER},
      linkname = #{record.linkname,jdbcType=VARCHAR},
      relation = #{record.relation,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.entity.Linkman">
    update linkman
    <set>
      <if test="linkname != null">
        linkname = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where linkid = #{linkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.entity.Linkman">
    update linkman
    set linkname = #{linkname,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where linkid = #{linkid,jdbcType=INTEGER}
  </update>
</mapper>