<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.WithdrawalMapper">
  <resultMap id="BaseResultMap" type="com.woniu.entity.Withdrawal">
    <id column="drawid" jdbcType="INTEGER" property="drawid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="drawmoney" jdbcType="DOUBLE" property="drawmoney" />
    <result column="drawtime" jdbcType="DATE" property="drawtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="walletid" jdbcType="INTEGER" property="walletid" />
  </resultMap>
  <select id="godraw" resultMap="BaseResultMap">
  	 select drawmoney,money from withdrawal a,wallet b where a.walletid = b.walletid;
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    drawid, account, drawmoney, drawtime, status, walletid
  </sql>
  <select id="selectByExample" parameterType="com.woniu.entity.WithdrawalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from withdrawal
    where drawid = #{drawid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from withdrawal
    where drawid = #{drawid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.entity.WithdrawalExample">
    delete from withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.entity.Withdrawal">
    insert into withdrawal (drawid, account, drawmoney, 
      drawtime, status, walletid
      )
    values (#{drawid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{drawmoney,jdbcType=DOUBLE}, 
      #{drawtime,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{walletid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.entity.Withdrawal">
    insert into withdrawal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drawid != null">
        drawid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="drawmoney != null">
        drawmoney,
      </if>
      <if test="drawtime != null">
        drawtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="walletid != null">
        walletid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drawid != null">
        #{drawid,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="drawmoney != null">
        #{drawmoney,jdbcType=DOUBLE},
      </if>
      <if test="drawtime != null">
        #{drawtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="walletid != null">
        #{walletid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.entity.WithdrawalExample" resultType="java.lang.Long">
    select count(*) from withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update withdrawal
    <set>
      <if test="record.drawid != null">
        drawid = #{record.drawid,jdbcType=INTEGER},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.drawmoney != null">
        drawmoney = #{record.drawmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.drawtime != null">
        drawtime = #{record.drawtime,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.walletid != null">
        walletid = #{record.walletid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update withdrawal
    set drawid = #{record.drawid,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      drawmoney = #{record.drawmoney,jdbcType=DOUBLE},
      drawtime = #{record.drawtime,jdbcType=DATE},
      status = #{record.status,jdbcType=INTEGER},
      walletid = #{record.walletid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.entity.Withdrawal">
    update withdrawal
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="drawmoney != null">
        drawmoney = #{drawmoney,jdbcType=DOUBLE},
      </if>
      <if test="drawtime != null">
        drawtime = #{drawtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="walletid != null">
        walletid = #{walletid,jdbcType=INTEGER},
      </if>
    </set>
    where drawid = #{drawid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.entity.Withdrawal">
    update withdrawal
    set account = #{account,jdbcType=VARCHAR},
      drawmoney = #{drawmoney,jdbcType=DOUBLE},
      drawtime = #{drawtime,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      walletid = #{walletid,jdbcType=INTEGER}
    where drawid = #{drawid,jdbcType=INTEGER}
  </update>
</mapper>